<div class="mt-3">
    <h2 class="mb-4">¡Hola!</h2>

    <p>Mi nombre es David Bocanegra Lagares y esta es una página web del sector inmobiliaria utilizando Angular 16, primeNG 16 y Boostrap 5.</p>
    <p>En este sitio web podremos comprar consultar y comprar viviendas, obtieniedo el detalle de esta.</p>
    <p>El motivo por el que agrego un apartado home es para probar el enrutamiento con un navbar y por estética.</p>
    <p>Para este sitio web hemos trabajado con standalone</p>
    <p>Aquí dejo un listado de otros sitios web que tengo público en mi repositorio gitHub con otras versiones de angular y diferentes formas de trabajar: </p>
    <ul>
        <li><a href="https://github.com/davidboclag/inmobilaria">Repositorio de esta web</a></li>
        <li><a href="https://github.com/davidboclag/heroes">Sitio web de super héroes</a></li>
        <li><a href="https://github.com/davidboclag/dbltv">Web de películas y series</a> para visualizarla pulse <a href="https://dbltv-11a31.web.app/">aquí</a></li>
        <li><a href="https://github.com/davidboclag/game">Juego de bolas</a></li>
    </ul>
    
</div>